*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    background: #474747;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    opacity: 0.8;
}